<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</Pattern>
            </PatternLayout>
        </Console>


        <Http name="ElasticSearchAppender1" url="http://elasticsearch:9200/credirama/_doc">
            <Property name="Content-Type" value="application/json" />
            <verifyHostname>false</verifyHostname>
            <PatternLayout>
                <Pattern>{
                    "@timestamp": "${date:yyyy-MM-dd'T'HH:mm:ss.SSSXXX}",
                    "class":"%C",
                    "file":"%F",
                    "level":"%5p",
                    "line_number":"%L",
                    "logger_name":"frontEndAuditLog",
                    "ipAddress":"%X{ipAddress}",
                    "requestId":"%X{requestId}",
                    "sessionId":"%X{sessionId}",
                    "source_host":"%X{sourceHost}",
                    "method":"%M",
                    "thread_name":"%t",
                    "event": %m
                    }%n</Pattern>
            </PatternLayout>


        </Http>

        <Http name="ElasticSearchAppender2" url="http://elasticsearch:9200/credirama/_doc">
            <Property name="Content-Type" value="application/json" />
            <verifyHostname>false</verifyHostname>
            <JsonLayout objectMessageAsJsonObject="true" complete="true" compact="false" locationInfo="true">
                <KeyValuePair key="@timestamp" value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSXXX}"/>
                <KeyValuePair key="application" value="credirama" />
            </JsonLayout>
        </Http>
    </Appenders>


    <Loggers>
        <Logger name="LOG_TO_ES" level="INFO" additivity="false">
            <AppenderRef ref="ElasticSearchAppender1" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="console" />
        </Root>
        <Root level="debug" additivity="false">
            <AppenderRef ref="console" />
        </Root>
        <Root level="error" additivity="false">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
