<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</Pattern>
            </PatternLayout>
        </Console>

        <Http name="ElasticSearchAppender" url="http://elasticsearch:9200/credirama/_doc">
            <Property name="Content-Type" value="application/json" />
            <verifyHostname>false</verifyHostname>
            <JsonLayout complete="false" compact="true">
                <KeyValuePair key="application" value="credirama" />
            </JsonLayout>
        </Http>
    </Appenders>


    <Loggers>
        <Logger name="LOG_TO_ES" level="INFO" additivity="false">
            <AppenderRef ref="ElasticSearchAppender" />
        </Logger>
        <Logger name="LOG_TO_FILE" level="INFO" additivity="false">
            <AppenderRef ref="FileAppender" />
        </Logger>
        <Root level="warning">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
